<nav class="navbar custom-navbar bg-faded main-header">
  <span class="ml-3"></span>
  <span class="navbar-heading">{{options?.heading}}</span>
  <span class="mr-auto"></span>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="javascript:;" class="nav-link" appToggleFullscreen>
        <i class="fi flaticon-fullscreen"></i>
      </a>
    </li>
    <li class="nav-item">
      <span class="nav-divider"></span>
    </li>
    <li class="nav-item">
      <a href="javascript:;" class="nav-link">
        <i class="fi flaticon-search"></i>
      </a>
    </li>
  </ul>
</nav>
<div class="main-content">
  <router-outlet></router-outlet>
  <nav class="navbar custom-navbar navbar-light main-footer small">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="javascript:;">
          <span>Copyright &copy; 2017</span> <span class="ff-headers text-uppercase">Yata</span>. All rights reserved
        </a>
      </li>
    </ul>
    <ul class="navbar-nav hidden-xs-down">
      <li class="nav-item">
        <a class="nav-link" href="javascript:;">Sweeter'n Yoohoo!</a>
      </li>
    </ul>
  </nav>
</div>
